[% IF entry.tags AND entry.tags.grep('.+').size > 0 %]12[% entry.tags.grep('.+').join(', ') %]: [% END %][% IF entry.author %][03[% entry.author %]] [% END %][% entry.title %] - 14[% entry.link %]
